docs/reference/UPF_v2.0.1/upf-schema-v2.0.1-reverse_engineering_qe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- QE-authoritative UPF v2.0.1 form rooted at UPF -->
<!--
  NOTE ON ATTRIBUTE OPTIONALITY:
  QE's get_attr helper in xmltools.f90 never errors on a missing attribute.
  When an attribute is absent, the reader silently returns a type-specific
  default: integer -> 0, real -> 0.0, logical -> .false., string -> ''.
  This means every attribute is effectively optional from the reader's
  perspective. However, QE's writer always emits all standard attributes,
  so QE-generated files always contain the full attribute set.

  Attributes marked use="required" in this schema are those that QE's writer
  always emits and that are semantically necessary for correct interpretation.
  Third-party generators may omit them, and QE will silently default them.

  NOTE ON NON-STANDARD NUMERIC PAYLOAD ATTRIBUTES:
  The official UPF v2.0.1 prose does not standardize body-formatting
  attributes such as type, size, rows, or columns on numeric payload tags.
  Nevertheless, project history and bundled fixtures show them frequently in
  practical QE-oriented files.

  Observed plain numeric blocks:
  PP_R, PP_RAB, PP_NLCC, PP_LOCAL, PP_DIJ, PP_Q, PP_MULTIPOLES, PP_QFCOEF,
  PP_RINNER, PP_RHOATOM, PP_TAUMOD, PP_TAUATOM, PP_OCCUPATIONS, PP_AE_NLCC,
  PP_AE_VLOC, PP_GIPAW_WFS_AE, PP_GIPAW_WFS_PS, PP_GIPAW_VLOCAL_AE,
  PP_GIPAW_VLOCAL_PS.

  Observed structured numeric carriers:
  PP_BETA.n, PP_VNL.n, PP_CHI.n, PP_AEWFC.n, PP_AEWFC_REL.n, PP_PSWFC.n,
  PP_QIJ.i.j, PP_QIJL.i.j.l, PP_GIPAW_CORE_ORBITAL.n.

  Practical note: rows is mainly seen on matrix-like payloads, especially
  PP_DIJ. This schema intentionally omits all of these non-standard
  body-formatting attributes.

  NOTE ON REAL NUMBER SPELLINGS:
  Practical QE-oriented files may contain Fortran double-precision exponent
  markers d or D in both attributes and numeric payload text, for example
  1.d-12 or 0.0125d0. QE-oriented compatibility layers should generally accept
  these spellings alongside the usual XML/Rust-style e or E notation.
-->
<?xml-stylesheet type="text/xsl" href="my.xsl"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Definition of elements -->

  <xs:element name="UPF">
    <xs:annotation>
      <xs:documentation>
        Root section.

        General schema policy: when QE behavior depends on previously read
        PP_HEADER values, this schema uses the most permissive sound content
        model available in XSD 1.0. Exact QE conditionality and some order
        flexibility are documented here rather than fully enforced, because
        this schema uses literal numbered element names and lacks XSD 1.1
        assertions.

        Practical QE section-presence rules:
        PP_NLCC is controlled by PP_HEADER/core_correction.
        PP_LOCAL is controlled by PP_HEADER/is_coulomb and is omitted when
        is_coulomb is true.
        PP_SEMILOCAL is controlled by PP_HEADER/pseudo_type.
        PP_NONLOCAL is controlled by PP_HEADER/number_of_proj and is omitted
        when number_of_proj = 0.
        PP_PSWFC is part of QE's normal v2 path: the reader opens it and the
        writer emits it.
        PP_FULL_WFC is controlled by PP_HEADER/has_wfc.
        PP_TAUMOD and PP_TAUATOM are controlled by
        PP_HEADER/with_metagga_info.
        PP_SPIN_ORB is controlled by PP_HEADER/has_so.
        PP_PAW is controlled by PP_HEADER/is_paw.
        PP_GIPAW is controlled by PP_HEADER/has_gipaw.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PP_INFO" minOccurs="0"/>
        <xs:element ref="PP_HEADER"/>
        <xs:element ref="PP_MESH"/>
        <xs:element ref="PP_NLCC" minOccurs="0"/>
        <xs:element ref="PP_LOCAL" minOccurs="0"/>
        <xs:element ref="PP_SEMILOCAL" minOccurs="0"/>
        <xs:element ref="PP_NONLOCAL" minOccurs="0"/>
        <xs:element ref="PP_PSWFC"/>
        <xs:element ref="PP_FULL_WFC" minOccurs="0"/>
        <xs:element ref="PP_RHOATOM"/>
        <!-- PP_TAUMOD and PP_TAUATOM are present when with_metagga_info is true -->
        <xs:element ref="PP_TAUMOD" minOccurs="0"/>
        <xs:element ref="PP_TAUATOM" minOccurs="0"/>
        <xs:element ref="PP_SPIN_ORB" minOccurs="0"/>
        <xs:element ref="PP_PAW" minOccurs="0"/>
        <xs:element ref="PP_GIPAW" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="version" use="required" type="upf-version-string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="PP_INFO">
    <xs:annotation>
      <xs:documentation>
        Descriptive metadata ignored by QE's practical reader.

        Practical QE rule: PP_INFO may contain free text and an optional nested
        PP_INPUTFILE block written verbatim by QE's writer.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="PP_INPUTFILE" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PP_INPUTFILE" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Optional writer-emitted input deck text nested inside PP_INFO.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_HEADER">
    <xs:annotation>
      <xs:documentation>
        Machine-readable minimal data on the pseudopotential.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="element" use="required" type="upf-element">
        <xs:annotation>
          <xs:documentation>Element symbol</xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="generated" use="optional" type="upf-string">
        <xs:annotation>
          <xs:documentation>Software used to generate the pseudopotential
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="author" use="optional" type="upf-string"
                                                 default="anonymous">
        <xs:annotation>
          <xs:documentation>Author of pseudopotential</xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="date" use="optional">
        <xs:annotation>
          <xs:documentation>Generation date</xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="comment" use="optional" type="upf-longstring">
        <xs:annotation>
          <xs:documentation>
            Free-form provenance comment. QE does not use this in the
            computational path, and a missing value is read as the empty string.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="pseudo_type" use="required" type="upf-pseudotype">
        <xs:annotation>
          <xs:documentation>
            Pseudopotential type (not used by the software, 
            human-readable alias)
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="relativistic" use="required" type="upf-relativistic-type">
        <xs:annotation>
          <xs:documentation>
            Level of relativistic formalism used in atomic calculation
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="is_ultrasoft" use="required" type="upf-logical">
        <xs:annotation>
          <xs:documentation>
            True if pseudopotential is ultrasoft or PAW, 
            i.e. if it has augmentation/compensation charge
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="is_paw" use="required" type="upf-logical">
        <xs:annotation>
          <xs:documentation>
            True if pseudopotential is actually a PAW dataset
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="is_coulomb" use="optional" type="upf-logical" 
                    default=".false.">
        <xs:annotation>
          <xs:documentation>
            True if pseudopotential is a Coulombian 1/r potential
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="has_so" use="optional" type="upf-logical" 
                    default=".false.">
        <xs:annotation>
          <xs:documentation>
            True if spin-orbit information is present.
            In this case, the PP_SPIN_ORB section must be present.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="has_gipaw" use="optional" type="upf-logical"
                    default=".false.">
        <xs:annotation>
          <xs:documentation>
            True if additional information for GIPAW reconstruction is
            present. In this case, the PP_GIPAW section must be present.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="core_correction" use="required" type="upf-logical">
        <xs:annotation>
          <xs:documentation>
            True if the pseudopotential contains pseudized core charge
            for non-linear core.
            In this case, the PP_NLCC section must be present.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="functional" use="required" type="upf-shortstring">
        <xs:annotation>
          <xs:documentation>
            Short-name for the DFT functional used.
            It can either be an alias (such as PBE, LDA) or specify in order:
            functional for exchange, functional for corellation,
            gradient correction for exchange, gradient correction for corellation.
            E.g. PBE is 'SLA PW PBX PBC'. 
            The list of short-names understood by QE is listed at the beginning
            of file Modules/functional.f90 in its source tree.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="z_valence" use="required" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            Valence charge (atomic number - core charge) in units of
            abs(electron charge). This will usually coincide with the
            number of valence electrons.
            If the pseudopotential has been generated with a charged 
            configuration, z_valence will *not* be affected, but the sum
            of the occupations will not match this value.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="total_psenergy" use="optional" type="xs:double"
                    default="0.0">
        <xs:annotation>
          <xs:documentation>
            Pseudopotential energy of the configuration used 
            for the pseudopotential configuration (Ry)
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="wfc_cutoff" use="optional" type="xs:double"
                    default="0.0">
        <xs:annotation>
          <xs:documentation>
            Suggested plane wave cutoff (Ry)
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="rho_cutoff" use="optional" type="xs:double"
                    default="0.0">
        <xs:annotation>
          <xs:documentation>
            Suggested charge density cutoff (Ry)
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="l_max" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            Maximum angular momentum of a valence orbital.
            !!CHECK!! if the local channel has the maximum angular momentum, 
            and it is not empty, is it counted here or not? 
            Would it have any effect if it is wrong?
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="l_max_rho" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            Maximum angular momentum of atomic charge density,
            should be 2*l_max.
            !!CHECK!! same as l_max
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="l_local" use="optional" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            If local potential was generated by inversion of a norm-conserving
            wave function, then l_local is equal to the l of this channel.
            If the local potential was generated by some other means,
            e.g. smoothing the all-electron potential, then l_local &lt; 0.
            The atomic code in QE uses l_local=-1, if the smoothing was done
            with two Bessel functions (RRKJ optimized)
            and l_local=-2, of it was done with the Troullier-Martins recipe.
            Note that the local potential always has spherical symmetry.

            This attribute is actually unused in the plane-wave code
            (stored only for reconstruction purposes).
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="mesh_size" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            Number of points in the radial grid, on which potential,
            wave functions and other quantities are stored.

            Note: the number of mesh points for the potential and the 
            wave functions may in principle be different. This is not
            allowed in the UPF 2.0.1 format.

            QE practical reader note: if PP_MESH@mesh is also present and
            disagrees with this value, QE's read_upf_new.f90 updates the
            in-memory mesh size from PP_MESH instead of rejecting the file.

            Crate policy note: this Rust crate intentionally keeps stricter
            behavior and rejects PP_HEADER@mesh_size / PP_MESH@mesh
            mismatches during validation.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="number_of_wfc" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            Number of wave functions stored in the file.
            These wave functions are used by QE programs only to bootstrap
            self-consistency.

            Note: In the PAW case, these are *not* the wave functions used
            for the one-center terms. They are used ONLY to generate the
            initial charge density to bootstrap the self-consistent cycle.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="number_of_proj" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            Number of Kleinman-Bylander projectors in the pseudopotential.
            In the PAW formalism, this is also the number of wavefunctions
            used in one-center terms. Many other quantities, e.g. the number
            of augmentation channels, depend on the value of number_of_proj.
            If the pseudopotential has no projectors, number_of_proj must be
            set to zero.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="has_wfc" use="required" type="upf-logical">
        <xs:annotation>
          <xs:documentation>
            Deprecated??
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="paw_as_gipaw" use="required" type="upf-logical">
        <xs:annotation>
          <xs:documentation>
            Deprecated??
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="PP_MESH">
    <xs:annotation>
      <xs:documentation>
        Defines the mesh.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PP_R"/>
        <xs:element ref="PP_RAB"/>
      </xs:sequence>

      <xs:attribute name="dx" use="optional" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            r(i) = exp ( xmin + (i-1) dx ) / zmesh i=1,mesh
            r_ab(i) = r(i) * dx
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="xmin" use="optional" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            r(i) = exp ( xmin + (i-1) dx ) / zmesh i=1,mesh
            r_ab(i) = r(i) * dx
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="zmesh" use="optional" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            r(i) = exp ( xmin + (i-1) dx ) / zmesh i=1,mesh
            r_ab(i) = r(i) * dx
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="mesh" use="optional" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            Deprecated. Use mesh_size in PP_HEADER instead.
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="rmax" use="required" type="xs:double">
        <xs:annotation>
          <xs:documentation>
            Deprecated??
          </xs:documentation> 
        </xs:annotation>
      </xs:attribute>

    </xs:complexType>
  </xs:element>

  <xs:element name="PP_R" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Data section containing the radial grid,
        on which quantities such as local potential,
        wave functions, projectors and augmentation charges are sampled.
        The ith value of these quantities corresponds to the ith
        element of the radial grid.
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_RAB" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Data section containing the radial volume element.
        These attributes have been used to generate the logarithmic grid on
        which the pseudopotential is constructed.
        The expression insode the atomic code of QE is:
          r(i) = exp ( xmin + (i-1) dx ) / zmesh i=1,mesh
          r_ab(i) = r(i) * dx
        For PAW, this is the only acceptable grid (required in V_H).
        Otherwise, any kind of grid is accepted, if it can be used to compute
        a Simpson numerical integral according to the formula
          \sum_i c_i f(i)*rab(i) = \int_0^\infty f_i dr
        where c_i are alternativly 2/3 and 4/3, except c_1=c_mesh=1/3.
        f_i is a generic function, such as the atomic wave function, sampled on
        the grid r(i): f_i = f(r_i). An equivalent definition of rab is
          rab(i) = dr(x) / dx | x= i
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_NLCC" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Data section containing the pseudized core charge
        used for non-linear core correction
        sampled on the radial grid stored in PP_R.
        It is the true charge density, i.e. it will be 
        correctly integrated as
          \sum_i 4 \pi r_i^2 nlcc_i

        Ignored if core_correction is false.
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_LOCAL" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Data section containing the local potential sampled in the radial grid
        (Ry). The potential does not contain the effect of the net valence charge
        (-e2*z_valence/r_i), which will be added directly in the plane-wave code.

        Igonred if is_coulomb (PP_HEADER).
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_SEMILOCAL">
    <xs:annotation>
      <xs:documentation>
        Contains number_of_proj subsections PP_VNL for PPs in semilocal form.
        Not used by QE.

        Practical QE rule: the writer emits one numbered tag per semilocal
        channel using PP_VNL.l naming in v2. The relevant count comes from
        PP_HEADER/number_of_proj, and the section itself is used only when
        PP_HEADER/pseudo_type = "SL". The reader loops number_of_proj times and
        reads the numbered tags it expects from the file. This count-driven
        numbered-tag rule cannot be expressed exactly in this XSD 1.0 schema
        with literal element names, so it is documented here.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PP_VNL.1" minOccurs="0" maxOccurs="1"
                    type="upf-PP_VNL.n"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="upf-PP_VNL.n">
    <xs:annotation>
      <xs:documentation>
        Contains the pseudopotential for l and j specified in the attribute
        list.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PP_NONLOCAL">
    <xs:annotation>
      <xs:documentation>
        Content of this section depends on several settings in PP_HEADER.

        Practical QE rule: if number_of_proj = 0, QE returns before opening
        PP_NONLOCAL. Otherwise there must be one numbered PP_BETA.n element for
        each n from 1 to number_of_proj, followed by PP_DIJ, and optionally
        PP_AUGMENTATION for ultrasoft or PAW data. The repeat count comes from
        PP_HEADER/number_of_proj; augmentation presence is controlled by
        PP_HEADER/is_ultrasoft or PP_HEADER/is_paw. The exact open-ended count
        of numbered PP_BETA.n tags depends on PP_HEADER and cannot be encoded
        exactly in this XSD 1.0 schema with literal element names, so the rule
        is documented here.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PP_BETA.1" minOccurs="0" maxOccurs="1"
                    type="upf-PP_BETA.n"/>
        <xs:element name="PP_BETA.2" minOccurs="0" maxOccurs="1"
                    type="upf-PP_BETA.n"/>
        <xs:element name="PP_BETA.3" minOccurs="0" maxOccurs="1"
                    type="upf-PP_BETA.n"/>
        <xs:element name="PP_BETA.4" minOccurs="0" maxOccurs="1"
                    type="upf-PP_BETA.n"/>
        <xs:element name="PP_BETA.5" minOccurs="0" maxOccurs="1"
                    type="upf-PP_BETA.n"/>
        <xs:element name="PP_BETA.6" minOccurs="0" maxOccurs="1"
                    type="upf-PP_BETA.n"/>
        <xs:element ref="PP_DIJ"/>
        <xs:element ref="PP_AUGMENTATION" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="upf-PP_BETA.n">
    <xs:annotation>
      <xs:documentation>
        Contains a Kleinman-Bylander projector sampled on the radial grid.

        If number_of_proj > 0, there must be a PP_BETA.n section for each
        n between 1 and number_of_proj.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              For PP_BETA.n, this is just n.
              QE's v2 reader tolerates this attribute being absent or incorrect
              with respect to the numbered tag suffix.
              
              TODO do away with the PP_BETA.n naming scheme.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="angular_momentum" use="required" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The angular momentum of the projector.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cutoff_radius_index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The projector is assumed to be zero beyond this point.
              If it is not specified, it is assumed to be equal to the mesh size.
              
              NOTE: Not specifying cutoff_radius can introduce a considerable
              numerical noise in some integrals, especially in the PAW case.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cutoff_radius" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              The value of the radial mesh point corresponding to cutoff_radius_index.
              This value is currently unused in the plane-wave code.
              QE's reader defaults it to 0.0 when the attribute is absent.
              This crate preserves the absence as None instead of
              materializing that default; meaningful cutoff_radius values
              should be non-zero when present.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="norm_conserving_radius" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Value of norm conserving wave function used to generate the
              ultrasoft pseudopotential.
              Unused in the code, stored only for reconstruction purposes,
              meaningless for PAW.
              QE's reader uses this as a fallback when ultrasoft_cutoff_radius
              is absent or zero (compatibility with old UPF v.2 files).
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ultrasoft_cutoff_radius" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Ultrasoft cutoff radius. QE's writer always emits this attribute.
              QE's reader falls back to norm_conserving_radius when this
              attribute is absent or zero.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" use="optional" type="xs:NMTOKEN">
          <xs:annotation>
            <xs:documentation>
              Projector label such as 'Si-3S'. QE's writer always emits this.
              QE's reader defaults to empty string if absent.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

    <xs:element name="PP_DIJ">
      <xs:annotation>
        <xs:documentation>
          Hamiltonian pseudo coefficients (D_ij matrix) as defined in the
          Vanderbilt paper (PRB 1990).
          If the pseudopotential is a PAW data set, they must contain the
          kinetic energy difference as well.

          Practical compatibility note: real-world files often add non-standard
          body-formatting attributes such as type, size, columns, and
          sometimes rows. They are not part of the official UPF v2.0.1
          standard and are intentionally omitted from this schema.
        </xs:documentation>
      </xs:annotation>
      <xs:complexType>
        <xs:simpleContent>
          <xs:extension base="xs:string"/>
        </xs:simpleContent>
      </xs:complexType>
    </xs:element>


 <xs:element name="PP_AUGMENTATION">
    <xs:annotation>
      <xs:documentation>
        Compulsory for pseudopotentials with augmentation charge,
        i.e. when the pseudopotential is_ultrasoft or is_paw.

        When q_with_l is true, augmentation channels use PP_QIJL.i.j.l naming.
        When q_with_l is false, they use PP_QIJ.i.j naming.

        QE determines channel nullity from augmom or qqq values, not from an
        is_null attribute. Null channels are simply skipped during both reading
        and writing.

        Practical QE rule: these numbered augmentation-channel families are
        driven primarily by PP_HEADER/number_of_proj, together with the
        projector angular momenta from the PP_BETA.n entries and the local
        PP_AUGMENTATION/q_with_l setting. When q_with_l is false, QE considers
        upper-triangle PP_QIJ.i.j channels for projector pairs. When q_with_l is
        true, QE considers PP_QIJL.i.j.l channels for the allowed even l values
        derived from each projector pair. Additional local counts come from
        PP_AUGMENTATION/nqf and PP_AUGMENTATION/nqlc. These open-ended,
        value-dependent numbered-tag rules cannot be encoded exactly in this XSD
        1.0 schema with literal element names, so they are documented here.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PP_Q"/>
        <xs:element ref="PP_MULTIPOLES" minOccurs="0"/>
        <xs:element ref="PP_QFCOEF" minOccurs="0"/>
        <xs:element ref="PP_RINNER" minOccurs="0"/>
        <!-- When q_with_l is true, channels use PP_QIJL.i.j.l naming -->
        <xs:element name="PP_QIJL.1.1.0" minOccurs="0" maxOccurs="1"
                    type="upf-PP_QIJL.n.n.n"/>
        <!-- When q_with_l is false, channels use PP_QIJ.i.j naming -->
        <xs:element name="PP_QIJ.1.1" minOccurs="0" maxOccurs="1"
                    type="upf-PP_QIJ.n.n"/>
      </xs:sequence>
      <xs:attribute name="q_with_l" use="required" type="upf-logical">
          <xs:annotation>
            <xs:documentation>
              If true, the augmentation charge can depend on the value
              of the angular momentum. I.e. if a certain channel has more
              than one angular momentum component, there shall be a different
              radial form of the augmentation for each component.

             This attribute is false for Vanderbilt's original recipe.
             It is true for PAW.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="nqf" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              Specifies the number of coefficients used to analytically expand
              the augmentation charge at small radius,
              according to Vanderbilt's recipe.

              Note: The analytical expansion of augmentation charge is 
              currently not implemented for PAW.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="nqlc" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              Specifies the number of angular momentum components that can be
              present in the charge density, when the maximum angular momentum
              for wave functions is l_max (default: nqlc = 2*l_max+1).
 
              If nqf &gt; 0, nqlc is the dimension of several arrays.
              If nqf = 0, nqlc is not used.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="shape" use="optional" type="upf-shortstring">
          <xs:annotation>
            <xs:documentation>
              Describes the kind of pseudization used for the augmentation
              function. Currently unused, stored only for reconstructio purpose.

              Note: If the analytical overlap for PAW augmentation charge
              (as defined by Bloechl) will ever be implemented, this field
              will become necessary.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="iraug" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              All augmentation charge must be zero beyond this point.
              Used only for PAW and only if it is greater than cutoff_radius
              for all projectors.

              If not specified, iraug is set to mesh size.
              This default works, but can generate numerical noise in some
              integrals. In order to avoid large round-off errors in 
              cancellation of PAW terms, it is important to set this paramter
              as small as possible, i.e. just outside the augmentation radius.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="raug" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              The value of the radial mesh point corresponding to iraug.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="augmentation_epsilon" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              If augmentation_epsilon &gt; 0, augmentation functions,
              whose norm is less than augmentation_epsilon will be 
              considered zero.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="cutoff_r" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Deprecated?
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="cutoff_r_index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              Deprecated?
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      <xs:attribute name="l_max_aug" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              Deprecated?
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="PP_Q" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        The norm of the augmentation functions.

        Note: The fact that Q is zero for a certain augmentation function
        does not guarantee that the function will be identically zero.
        This was erroneously assumed in UPF 2.0.0, causing small errors
        in specific cases.
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_MULTIPOLES" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        The electrostatic multipoles of the corresponding augmentation channel.
        If the absolute value of a multipole is less than augmentation_epsilon,
        the corresponding function will be considered zero.

        Note: This section is compulsory for PAW and ignored otherwise.
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_QFCOEF" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        The coefficient used to perform a Taylor expansion of the augmentation
        functions at small radii.

        Note: Compulsory if nqf &gt; 0, ignored otherwise.
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_RINNER" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        The radius before which the augmentation functions are expanded in a
        Taylor series.
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:complexType name="upf-PP_QIJL.n.n.n">
    <xs:annotation>
      <xs:documentation>
        If q_with_l is true, there needs to be one PP_Q.i.j.l section
        for each i and j from 1 to number_of_proj and l from 0 to l_max_rho.
        If q_with_l is false, there needs to be one PP_Q.i.j section
        for each i and j from 1 to number_of_proj.

        An augmentation function can be omitted (or replaced with an empty
        section of the same name), if at least one of the following conditions
        is met:
         
          - It is identically zero. In this case, an empty section must be 
            present (see is_null).
          - j &lt; i (Q_ij = Q_ji due to symmetry).
          - The pseudo is of PAW type and the corresponding multipole
            (PP_MULTIPOLES) is zero or less than augmentation_epsilon
          - q_with_l is true and l is *not* taken from the list
            abs(l_i-l_j), abs(l_i-l_j)+2 ... l_i+l_j-2, l_i+l_j .

        Unnecessary sections with augmentation charges are ignored.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="angular_momentum" use="required" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              To be documented.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="first_index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The index i of the function.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="second_index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The index j of the function.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="composite_index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              A composite index k = j*(J-1)/2 + i, 
              used internally to save memory.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="is_null" use="optional" type="upf-logical">
          <xs:annotation>
            <xs:documentation>
              If an augmentation function is identically zero,
              the data section can be replaced by an empty section
              that is_null.

              NOTE: QE's practical reader and writer do NOT use this attribute.
              QE determines nullity from augmom or qqq values and simply skips
              null channels. This attribute exists only in the XSD for
              documentation purposes.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- PP_QIJ.i.j: augmentation channel when q_with_l is false -->
  <xs:complexType name="upf-PP_QIJ.n.n">
    <xs:annotation>
      <xs:documentation>
        Augmentation charge channel when q_with_l is false.
        Uses PP_QIJ.i.j naming where i and j are projector indices.
        Only upper-triangle entries (j >= i) are stored; null channels
        are skipped.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="first_index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The index i of the function.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="second_index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The index j of the function.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="composite_index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              A composite index k = j*(j-1)/2 + i,
              used internally to save memory.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>



    <xs:element name="PP_PSWFC">
      <xs:annotation>
        <xs:documentation>
        Contains number_of_wfc data sections of the radial sample of an atomic
        wave function. These wave functions are used to set up the initial
        wave functions for the self-consistent calculation.

        Practical QE rule: QE opens PP_PSWFC whenever it follows the normal
        v2 path, then reads one numbered PP_CHI.n tag for each n from 1 to
        number_of_wfc. The repeat count comes from PP_HEADER/number_of_wfc.
        The exact open-ended count of numbered PP_CHI.n tags depends on
        PP_HEADER and cannot be encoded exactly in this XSD 1.0 schema with
        literal element names, so the rule is documented here.
        </xs:documentation> 
      </xs:annotation>
      <xs:complexType>
        <xs:sequence>
          <xs:element name="PP_CHI.1" minOccurs="0" maxOccurs="1"
                      type="upf-PP_CHI.n"/>
          <xs:element name="PP_CHI.2" minOccurs="0" maxOccurs="1"
                      type="upf-PP_CHI.n"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

  <xs:complexType name="upf-PP_CHI.n">
    <xs:annotation>
      <xs:documentation>
        An atomic wave function sampled on the radial grid.
        They are use in QE as initial conditions for the self-consistent
        calculation.

        Note: There is no link between these wave functions and the beta
        projectors in PP_NONLOCAL. number_of_wfc can be different from
        number_of_proj. 
        This quantity is stored multiplied by a factor r.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="l" use="required" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              Angular momentum of the wave function.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="occupation" use="required" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Occupation of the wave function in the reference configuration.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The index n in PP_CHI.n
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" use="optional" type="upf-nl-label">
          <xs:annotation>
            <xs:documentation>
              A conventional label, such as '2S', '3P', etc.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="n" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              Pseudo-principal quantum number. 
              Usually set to l-1. Only stored for reconstruction purposes.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pseudo_energy" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Single-particle energy of the wave function in atomic 
              configuration.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="cutoff_radius" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Inner norm-conserving radius used by atomic code in QE.
              Only stored for reconstruction purposes.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ultrasoft_cutoff_radius" use="optional"
                      type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Outer ultrasoft radius used by atomic code in QE.
              Only stored for reconstruction purposes.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="nn" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              Principal quantum number. Written by QE only when has_so is true.
              Read by QE as obsolete metadata.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="jchi" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Total angular momentum (l +/- 1/2). Written and read by QE only
              when has_so is true.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
    </xs:complexType>

    <xs:element name="PP_RHOATOM" type="upf-data-section">
      <xs:annotation>
        <xs:documentation>
          The valence charge density in the reference atomic configuration.
          Can be used to genreate the initial charge density in the
          self-consistent calculation.

          This quantity is stored multiplied by a factor of r^2.
        </xs:documentation>
      </xs:annotation>
    </xs:element>

    <xs:element name="PP_TAUMOD" type="upf-data-section">
      <xs:annotation>
        <xs:documentation>
          Core kinetic energy density for meta-GGA calculations.
          Present only when with_metagga_info is true.
          Dimension: mesh_size.
        </xs:documentation>
      </xs:annotation>
    </xs:element>

    <xs:element name="PP_TAUATOM" type="upf-data-section">
      <xs:annotation>
        <xs:documentation>
          Atomic kinetic energy density for meta-GGA calculations.
          Present only when with_metagga_info is true.
          Dimension: mesh_size.
        </xs:documentation>
      </xs:annotation>
    </xs:element>

    <xs:element name="PP_SPIN_ORB">
      <xs:annotation>
        <xs:documentation>
          Contains additional information required to perform
          self consistent calculations with spin-orbit coupling.

          The section must be present if 'has_so' in section
          PP_HEADER is true AND the format is v2. Otherwise it is ignored.

          QE tolerates either PP_RELWFC entries before PP_RELBETA entries
          or the reverse order.

          Practical QE rule: there are number_of_wfc numbered PP_RELWFC.n
          entries and number_of_proj numbered PP_RELBETA.n entries. Existing
          files may place the two families in either order. These repeat counts
          come from PP_HEADER/number_of_wfc and PP_HEADER/number_of_proj, and
          section presence is controlled by PP_HEADER/has_so. These count- and
          order-dependent rules cannot be encoded exactly in this XSD 1.0
          schema with literal element names and a fixed sequence, so they are
          documented here. The fixed sequence below is representative only and
          should not be read as a complete statement of QE's accepted family
          order.
        </xs:documentation>
      </xs:annotation>
      <xs:complexType>
        <xs:sequence>
          <xs:element name="PP_RELWFC.1" minOccurs="0" maxOccurs="1"
                      type="upf-PP_RELWFC.n"/>
          <xs:element name="PP_RELBETA.1" minOccurs="0" maxOccurs="1"
                      type="upf-PP_RELBETA.n"/>
        </xs:sequence>
      </xs:complexType>
  </xs:element>

  <xs:complexType name="upf-PP_RELWFC.n">
    <xs:annotation>
      <xs:documentation>
        Contains data necessary to perform a spin-orbit self-consistent
        calculation.

        For each wave function stored in the PP_PSWFC section,
        there must be one empty section of this kind.
        The index n runs from 1 to number_of_wfc.

        IMPORTANT: QE's reader intentionally does NOT read lchi, els, or oc
        from PP_RELWFC.n, even though the writer emits them. The comment in
        read_upf_new.f90 explains: "upf%oc is actually missing in some UPF
        files: reading it here may spoil the value read earlier and break
        DFT+U". These values are already known from PP_PSWFC.

        QE reads only: index, nn (obsolete), jchi.
        QE writes: index, els, nn, lchi, jchi, oc.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="jchi" use="required" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Total angular momentum of the wave function,
              i.e. l+1/2, l-1/2 when l>0.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The index n in PP_RELWFC.n
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="els" use="optional" type="upf-nl-label">
          <xs:annotation>
            <xs:documentation>
              A conventional label for the wave function, 
              such as '2S', '3P', etc.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="nn" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The actual principal quantum number.
              Note: This can differ from the pseudo-principal quantum number
              stored in the 'nchi' attribute of PP_CHI.n
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="lchi" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              See attribute 'lchi' of PP_CHI.n (which is used as default).
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oc" use="optional" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              See attribute 'occupations' of PP_CHI.n
              (which is used as default).
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="upf-PP_RELBETA.n">
    <xs:annotation>
      <xs:documentation>
        Contains data necessary to perform a spin-orbit self-consistent
        calculation.

        For each projector in section PP_NONLOCAL,
        there must be one empty section of this kind.
        The index n runs from 1 to number_of_proj.
      </xs:documentation> 
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The index n in PP_RELBETA.n
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="jjj" use="required" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Total angular momentum of the wave function.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="lll" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              See attribute 'angular_momentum' or corresponding PP_BETA.n
              subsection of PP_NONLOCAL (whose value is used as default).
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PP_FULL_WFC">
    <xs:annotation>
      <xs:documentation>
        Contains all-electron and pseudo wave functions associated with
        projectors. In practical QE UPF v2.0.1 handling this section is controlled
        by the has_wfc flag in PP_HEADER.

        QE reads number_of_proj entries for each family. The order within the
        section is: all PP_AEWFC.n, then all PP_AEWFC_REL.n (if has_so and
        is_paw), then all PP_PSWFC.n.

        Practical QE rule: for each family present, the numbered tags run from
        1 to number_of_proj. The repeat count comes from
        PP_HEADER/number_of_proj. Section presence is controlled by
        PP_HEADER/has_wfc, and PP_AEWFC_REL.n is present only when both
        PP_HEADER/has_so and PP_HEADER/is_paw are true. The exact open-ended
        counts and this conditional family presence cannot be encoded exactly in
        this XSD 1.0 schema with literal element names, so the rule is
        documented here.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PP_AEWFC.1" minOccurs="0" maxOccurs="1"
                    type="upf-PP_AEWFC.n"/>
        <!-- PP_AEWFC_REL.n entries are present only when has_so and is_paw
             are both true. They carry the same attributes as PP_AEWFC.n. -->
        <xs:element name="PP_AEWFC_REL.1" minOccurs="0" maxOccurs="1"
                    type="upf-PP_AEWFC.n"/>
        <xs:element name="PP_PSWFC.1" minOccurs="0" maxOccurs="1"
                    type="upf-PP_PSWFC.n"/>
      </xs:sequence>
      <xs:attribute name="number_of_wfc" use="optional" type="xs:integer"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="PP_PAW">
    <xs:annotation>
      <xs:documentation>
        Contains additional information required to perform
        projector-augmented self-consistent calculation.

        The section must be present if 'is_paw' in section PP_HEADER is true.
        Otherwise it is ignored.

        Note: All-electron and pseudo projector-linked wavefunctions are NOT
        serialized inside PP_PAW in QE's practical read/write path. They belong
        to PP_FULL_WFC. Additional PAW working arrays (pfunc, ptfunc,
        pfunc_rel) are derived in memory after parsing and are not part of the
        wire format.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PP_OCCUPATIONS"/>
        <xs:element ref="PP_AE_NLCC"/>
        <xs:element ref="PP_AE_VLOC"/>
      </xs:sequence>
      <xs:attribute name="core_energy" use="optional" type="xs:double"
                    default="0.0">
        <xs:annotation>
          <xs:documentation>
            Constant that has to be added to the valence energy in order to
            obtain the all-electron energy.
            As it is a constant, it has no effect on the result
            of the calculation.

            Only used, if all atoms of the system are described by
            PAW data sets.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="paw_data_format" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            PAW data format version. Stored as INTEGER in QE's
            pseudo_types.f90.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

    </xs:complexType>
  </xs:element>

  <xs:element name="PP_OCCUPATIONS" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Occupations used in the atomic reference configuration.
        
        Note: For higher energy projectors, this occupation will
        typically be zero. They are used as an initial condition for the
        self-consistency of the terms
          
          \rho_{ij} = \sum_b f_b \langle \beta_i | \psi_b \rangle
                                 \langle \psi_b | \beta_j \rangle

        Dimensions: number_of_proj 
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_AE_NLCC" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        The all-electron core charge (no factors r^2 or 4\pi
        as in PP_NLCC).

        Note: This section must be present even when the 
        attribute 'core_correction' of section PP_HEADER is false
        in order to correctly reproduce the all-electron energy.

        Dimension: mesh_size
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_AE_VLOC" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        The all-electron valence potential.

        Dimension: mesh_size
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:complexType name="upf-PP_AEWFC.n">
    <xs:annotation>
      <xs:documentation>
        Contains one all-electron orbital for each projector.

        The index n ranges from 1 to number_of_proj.

        Note: The orbitals are stored multiplied by a factor of r.
        I.e. their square module already contain the factor r^2 of
        the spherical volume element.

        Dimension: mesh_size
      </xs:documentation> 
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="index" use="required" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              UNDOCUMENTED

              Maybe: The index n in PP_AEWFC.n
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="l" use="required" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              UNDOCUMENTED

              Maybe: Angular momentum of the wave function.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" use="required" type="upf-nl-label">
          <xs:annotation>
            <xs:documentation>
              UNDOCUMENTED

              Maybe: A conventional label, such as '2S', '3P', etc.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="upf-PP_PSWFC.n">
    <xs:annotation>
      <xs:documentation>
        Contains one pseudo orbital for each projector.

        The index n ranges from 1 to number_of_proj.

        Note: The orbitals are stored multiplied by a factor of r.
        I.e. their square module already contain the factor r^2 of
        the spherical volume element.

        Dimension: mesh_size
      </xs:documentation> 
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="index" use="required" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              UNDOCUMENTED

              Maybe: The index n in PP_PSWFC.n
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="l" use="required" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              UNDOCUMENTED

              Maybe: Angular momentum of the wave function.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" use="required" type="upf-nl-label">
          <xs:annotation>
            <xs:documentation>
              UNDOCUMENTED

              Maybe: A conventional label, such as '2S', '3P', etc.
            </xs:documentation> 
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PP_GIPAW">
    <xs:annotation>
      <xs:documentation>
        Contains additional information required by the GIPAW code
        in order to reconstruct the all-electron charge density
        and to calculate the NMR response.

        This section must be present, if 'has_gipaw' in section PP_HEADER
        is true.

        Note: This section is independent of the PP_PAW section.

        When paw_as_gipaw is true, only PP_GIPAW_CORE_ORBITALS is read from
        the file. PP_GIPAW_ORBITALS and PP_GIPAW_VLOCAL are derived in memory
        from PAW, local-potential, and full-wavefunction data.

        Practical QE rule: section presence is controlled by
        PP_HEADER/has_gipaw. When PP_HEADER/paw_as_gipaw is true,
        PP_GIPAW_ORBITALS and PP_GIPAW_VLOCAL are omitted. The child
        optionality below is intentionally permissive because XSD 1.0 cannot
        express that dependency on PP_HEADER/paw_as_gipaw. The repeat counts
        for the numbered orbital families do not come from PP_HEADER directly:
        they come from the local container attributes
        number_of_core_orbitals and number_of_valence_orbitals.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PP_GIPAW_CORE_ORBITALS"/>
        <!-- PP_GIPAW_ORBITALS and PP_GIPAW_VLOCAL are absent when
             paw_as_gipaw is true -->
        <xs:element ref="PP_GIPAW_ORBITALS" minOccurs="0"/>
        <xs:element ref="PP_GIPAW_VLOCAL" minOccurs="0"/>
      </xs:sequence>

      <xs:attribute name="gipaw_data_format" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            GIPAW data format version. Stored as INTEGER in QE's
            pseudo_types.f90.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

    </xs:complexType>
  </xs:element>

  <xs:element name="PP_GIPAW_CORE_ORBITALS">
    <xs:annotation>
      <xs:documentation>
        Contains the all-electron core orbitals.

        Practical QE rule: there must be one numbered PP_GIPAW_CORE_ORBITAL.n
        element for each n from 1 to number_of_core_orbitals. QE also accepts
        the container in normal open/close form or self-closing form when the
        count is zero. Unlike many other repeated families in UPF v2, this
        repeat count does not come from PP_HEADER; it comes from the local
        PP_GIPAW_CORE_ORBITALS/number_of_core_orbitals attribute. The exact
        open-ended count of numbered tags cannot be encoded exactly in this XSD
        1.0 schema with literal element names, so the rule is documented here.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!-- Note: uses upf-GIPAW_CORE_ORBITAL.n, NOT upf-PP_AEWFC.n,
             because core orbitals carry an additional 'n' attribute for the
             principal quantum number. -->
        <xs:element name="PP_GIPAW_CORE_ORBITAL.n" minOccurs="0" maxOccurs="1"
                    type="upf-GIPAW_CORE_ORBITAL.n"/>
      </xs:sequence>
      <xs:attribute name="number_of_core_orbitals" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            The number of core orbitals included in the data set.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="upf-GIPAW_CORE_ORBITAL.n">
    <xs:annotation>
      <xs:documentation>
        Contains all-electron core orbital.

        The index n ranges from 1 to number_of_core_orbitals.

        Note: The orbitals are stored multiplied by a factor of r.
        I.e. their square module already contain the factor r^2 of
        the spherical volume element.

        Dimension: mesh_size
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="upf-data-section">
        <xs:attribute name="index" use="optional" type="xs:integer">
          <xs:annotation>
            <xs:documentation>
              The index n in PP_GIPAW_CORE_ORBITAL.n
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <!-- Note: QE's pseudo_types.f90 stores gipaw_core_orbital_l and
             gipaw_core_orbital_n as REAL(DP), not INTEGER. The xs:double
             type here matches the QE in-memory representation. -->
        <xs:attribute name="l" use="required" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Angular momentum quantum number of the wave function.
              Stored as REAL(DP) in QE's pseudo_types.f90.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="n" use="required" type="xs:double">
          <xs:annotation>
            <xs:documentation>
              Principal quantum number of the wave function.
              Stored as REAL(DP) in QE's pseudo_types.f90.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="label" use="required" type="upf-nl-label">
          <xs:annotation>
            <xs:documentation>
              A conventional label for the wave function,
              such as '2S', '3P', etc.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="PP_GIPAW_ORBITALS">
    <xs:annotation>
      <xs:documentation>
        Contains the valence pseudo and all-electron orbitals.
        Present only when paw_as_gipaw is false.

        Practical QE rule: there must be one numbered PP_GIPAW_ORBITAL.n
        element for each n from 1 to number_of_valence_orbitals. This container
        is omitted entirely when paw_as_gipaw is true. The exact open-ended
        count of numbered tags and this conditional presence cannot be encoded
        exactly in this XSD 1.0 schema with literal element names, so the rule
        is documented here. The presence condition comes from
        PP_HEADER/paw_as_gipaw, while the repeat count itself does not come from
        PP_HEADER directly; it comes from the local
        PP_GIPAW_ORBITALS/number_of_valence_orbitals attribute.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PP_GIPAW_ORBITAL.n" minOccurs="0" maxOccurs="1"
                    type="upf-GIPAW_ORBITAL.n"/>
      </xs:sequence>
      <xs:attribute name="number_of_valence_orbitals" use="required" type="xs:integer">
        <xs:annotation>
          <xs:documentation>
            The number of valence orbitals included in the data set.
            In v2 format this is an attribute on the container element.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="upf-GIPAW_ORBITAL.n">
    <xs:annotation>
      <xs:documentation>
        Contains valence all-electron and pseudo orbitals for GIPAW.

        The index n ranges from 1 to number_of_valence_orbitals.

        Each orbital contains PP_GIPAW_WFS_AE and PP_GIPAW_WFS_PS children.
      </xs:documentation>
    </xs:annotation>
     <xs:sequence>
       <!-- QE writes PP_GIPAW_WFS_AE and PP_GIPAW_WFS_PS (capitalized for v2) -->
       <xs:element ref="PP_GIPAW_WFS_AE"/>
       <xs:element ref="PP_GIPAW_WFS_PS"/>
     </xs:sequence>
    <xs:attribute name="index" use="optional" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          The index n in PP_GIPAW_ORBITAL.n
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="l" use="required" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          Angular momentum quantum number of the wave function.
          Stored as INTEGER in QE's pseudo_types.f90 (gipaw_wfs_ll).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="label" use="required" type="upf-nl-label">
      <xs:annotation>
        <xs:documentation>
          A conventional label for the wave function,
          such as '2S', '3P', etc.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cutoff_radius" use="optional" type="xs:double">
      <xs:annotation>
        <xs:documentation>
          Inner norm-conserving cutoff radius.
          Used as core radius by the GIPAW code.
        </xs:documentation> 
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ultrasoft_cutoff_radius" use="optional" type="xs:double">
      <xs:annotation>
        <xs:documentation>
          Outer ultra-soft cutoff radius.
        </xs:documentation> 
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="PP_GIPAW_WFS_AE" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Contains all-electron valence orbital.

        Note: The orbitals are stored multiplied by a factor of r.
        I.e. their square module already contain the factor r^2 of
        the spherical volume element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_GIPAW_WFS_PS" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Contains pseudo valence orbital.

        Note: The orbitals are stored multiplied by a factor of r.
        I.e. their square module already contain the factor r^2 of
        the spherical volume element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_GIPAW_VLOCAL">
    <xs:annotation>
      <xs:documentation>
        Contains the all-electron and pseudo local potentials for GIPAW.
        Present only when paw_as_gipaw is false.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PP_GIPAW_VLOCAL_AE"/>
        <xs:element ref="PP_GIPAW_VLOCAL_PS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PP_GIPAW_VLOCAL_PS" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Contains pseudo local potential corresponding to GIPAW orbitals.

        Note: The potential is stored multiplied by a factor of r
              (different from PP_VLOC).
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <xs:element name="PP_GIPAW_VLOCAL_AE" type="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Contains all-electron local potential corresponding to GIPAW orbitals.

        Note: The potential is stored multiplied by a factor of r
              (different from PP_VLOC).
      </xs:documentation> 
    </xs:annotation>
  </xs:element>

  <!-- User-defined types -->

  <xs:simpleType name="upf-version-string">
    <xs:restriction base="xs:string">
      <xs:maxLength value="14"/>
      <xs:pattern value="[0-9\.]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="upf-element">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
      <xs:pattern value="[A-Za-z]+"/>
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
 
  <xs:simpleType name="upf-string">
    <xs:restriction base="xs:string">
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="upf-longstring">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="upf-shortstring">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="upf-nl-label">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="upf-pseudotype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NC">
        <xs:annotation>
          <xs:documentation>norm-conserving</xs:documentation> 
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SL">
        <xs:annotation>
          <xs:documentation>norm-conserving (semi-local form)
          </xs:documentation> 
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="US">
        <xs:annotation>
          <xs:documentation>Vanderbilt's ultrasoft</xs:documentation> 
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAW">
        <xs:annotation>
          <xs:documentation>Projector-Augmented Wave</xs:documentation> 
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1/r">
        <xs:annotation>
            <xs:documentation>Coulombian 1/r potential</xs:documentation> 
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="upf-relativistic-type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:documentation>non-relativistic calculation</xs:documentation> 
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="scalar">
        <xs:annotation>
          <xs:documentation>scalar-relativistic calculation</xs:documentation> 
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="full">
        <xs:annotation>
          <xs:documentation>full-relativistic calculation</xs:documentation> 
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="upf-logical">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\.[Tt][Rr][Uu][Ee]\.)|([Tt]([Rr][Uu][Ee])?)|(\.[Ff][Aa][Ll][Ss][Ee]\.)|([Ff]([Aa][Ll][Ss][Ee])?)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="upf-data-section">
    <xs:annotation>
      <xs:documentation>
        Generic plain numeric payload block stored as whitespace-delimited
        text.

        Practical compatibility note: files in the QE ecosystem often attach
        non-standard body-formatting attributes such as type, size, and
        columns to this kind of element. The official UPF v2.0.1 prose does
        not standardize those attributes, so this schema intentionally omits
        them. For matrix-like payloads such as PP_DIJ, rows may also appear
        in practice and is likewise omitted here.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>


</xs:schema>
